<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Update status</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let status of statuses" (click)="selectStatus(status)">
          {{ status }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
